<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!--<link rel="stylesheet" href="https://unpkg.com/@clr/ui/clr-ui.min.css" />-->
    <link rel="stylesheet" href="static/clr-ui.min.css">
    <title>Replication Graphs</title>
  </head>
  <body>

    <div class="main-container">
      <header class="header header-4">
        <div class="branding">
          <!-- This href will not work on the production server, since we deploy at '/rt' and not '/' -->
          <a href="{{ url_for('index') }}"><span class="branding" style="padding:15px;" tabindex="0">
            <img src="static/DellEMC_Logo_Hz_Wht_rgb.png" style="height:80%; float:left">
            </span>
          </a>
            <span class="title">&nbsp&nbsp| Replication Trends | A tool for plotting replication contexts trends, and analyze them over the time.
            </span>
        </div>
        
      </header>
      <nav class="subnav">
        <ul class="nav">
            <li class="nav-item">
           
            <a href="mailto:gonzalo.murillotello@dell.com?subject=Issue found on Replication Trends&body=Dear Gonzalo, I am using Replication Trends and want to report the following:%0A<INSERT WHAT YOU WANT TO REPORT HERE>"><img src="static/envelope.jpg">Report an issue</a> 
            </li>
           
        </ul>
    </nav>
   

   <div class="content-container">

        <div class="content-area">
               <div class="clr-row">
        <div class="clr-col-lg-1">
          <nav class="sidenav">
         <!-- <a href="#">Option 1</a><br>
          <a href="#">Option 2</a><br>
          <a href="#">Option 3</a><br>
          <a href="#">Option 4</a><br>
          <a href="#">Option 5</a><br>
          <a href="#">Option 6</a><br>
          <a href="#">Option 7</a><br>
          <a href="#">Option 8</a><br>
          <a href="#">Option 9</a><br>
          -->
        </nav>
        </div>
         {% block content %}
         {% endblock %}
    </div>

        </div>


   </div>

  </body>
</html>
