{% extends "base.html" %}

     {% block content %}
        <div class="clr-col-lg-9">

            <div class="card">
                <div class="card-header">
                    <strong>Managed File Replication Assistant</strong>
                </div>
                <div class="card-block">

                 The provided path is empty. Please go back and specify a path.
                </div>

            </div>
          </div>
          <!--<div class="clr-col-lg-4">
          </div>-->
      {% endblock %}