{% extends "base.html" %}

  {%block content%}

        <div class="clr-col-lg-9">

            <div class="card">
                <div class="card-header">
                    <strong>Welcome to Replication Graphs</strong>
                </div>
                <div class="card-block">
                    <div class="card-title">
                        What is Replication Graphs?

                    </div>
                    <div class="card-text">
                      <p><strong>Replication Graphs</strong> is a tool which main purpose is to assist NET TSEs with Mtree replication issues.</p>
                     <p><strong>Replication Graphs</strong> plots the information about replication contexts that comes in the autosupport files, so you can detect anomalies and trends over time.</p>
                      <p><strong>Let´s start by providing the path to the autosupport files:</p>
                    </div>
                    <form name="pathform" class="clr-form" method="post" action="{{ url_for('second_step') }}">
                    Path to the autosupport files:<input type="text" name="autosupports_path" id="autosupports_path" placeholder=".../ddr/var/support" class="clr-input">
                    <p><div class="botonera" style="text-align:center"><button class="btn btn-primary" type="submit" id="btnvalidate">OK</button><button class="btn btn-primary" type="reset">CLEAR PATH</button></div></p>
                    </form>
                </div>

            </div>
          </div>
        <!--  <div class="clr-col-lg-2">
        </div>-->


        {% endblock %}




