{% extends "base.html" %}

     {% block content %}
        <div class="clr-col-lg-11">

            <div class="card">
                <div class="card-header">
                    <strong>Replication Trends | Found autosupport files</strong>
                </div>
                <div class="card-block">

                  This is the list of ASUP files found on the specified path: {{path}}<br><br>

                  Please select the files that you want to include in the graphs:

                    <form class="clr-form" action="{{ url_for('third_step').strip('/') }}" method="post">
                        <input type="hidden" name="files_and_dates" value="{{files_and_dates_ld}}">

                      <table class="table">
          <thead>
              <tr>
                  <!--<th>Click to select file</th>-->
                  <th>Include this autosupport in the graphs?</th>
                  <th>Name of the file</th>
                  <th>Time</th>
              </tr>
          </thead>
          <tbody>

          {% for dict_item in files_and_dates_ld %}<!-- one dict_item per analyzed ddfs file !-->

              <tr>

                  {% for key, value in dict_item.items() %}  <!-- one data cell for each pair key / value !-->
                  {% if key == "checkbox" %}
                  {% if 'INVALID' in value %}
                  <td><input type="checkbox" name="{{value}}" value="{{value}}"></td>
                  
                  {% else %}
                  <td><input type="checkbox" name="{{value}}" value="{{value}}"checked></td>
                  {% endif %}
                  {% endif %}

                  {% if key == "name_of_file" %}
                  <td>{{value}}</td>
                  {% endif %}
                  {% if key == "start_date" %}
                  <td>{{value}}</td>
                  {% endif %}


                  {% endfor %}
              </tr>

          {% endfor %}

          </tbody>
      </table>
      <p><div class="botonera" style="text-align:center"><button class="btn btn-primary" type="submit">ANALYZE SELECTED FILES</button></div></p>
    </form>
                </div>

            </div>
          </div>
          <!--<div class="clr-col-lg-4">
          </div>-->
      {% endblock %}