{% extends "base.html" %}

        {% block content %}
        <div class="clr-col-lg-9">

            <div class="card">
                <div class="card-header">
                    <strong>Replication Graphs</strong>
                </div>
                <div class="card-block">
                    Seleccionados
                    {% for item in seleccionados %}
                    {{ item }}
                    {% endfor %}
                
                
                   <p>Below you will see information about the replication contexts found in the autosupport files:</p>
                   
                    <form class="clr-form" action="third_step.html">
                      <table class="table table-compact">

        
          <h1>Replication Context 1</h1>
          
          <thead>
              <tr>
                  <th>Date</th>
                  <th>Precomp written in KBi (last 24 h)</th>
                  <th>Precomp remaining in KBi</th>
                  <th colspan="2">REPLICATED</th>
                  <th>Sync as of time</th>
              </tr>
              <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Pre-comp</th>
                    <th>Network</th>
                    <th></th>
                </tr>
          </thead>
          <tbody>
              <tr>
                {% for dict_item in parent_dict %}
                {% for key, value in dict_item.items() %}
                       {% if 'DETAILS' in key %}
                        {% for x in value %}
                        {% for i in x %}
                        <td>{{ i }}</td>
                        {% endfor %}
                        {% endfor %}
                       {% endif %}
               
                {% endfor %}
                {% endfor %}
                  <td>2019/05/01</td>
                  <td>2,227,815,101 KBi</td>
                  <td>371,596,567,439 </td>
                  <td>10,040,121,830</td>
                  <td>10,040,121,830</td>
                  <td>Thu Apr 18 01:00</td>       
              </tr>
              <tr>
                <td>2019/05/01</td>
                <td>2,227,815,101 KBi</td>
                <td>371,596,567,439 </td>
                <td>10,040,121,830</td>
                <td>10,040,121,830</td>
                <td>Thu Apr 18 01:00</td>       
            </tr>
            <tr>
                <td>2019/05/01</td>
                <td>2,227,815,101 KBi</td>
                <td>371,596,567,439 </td>
                <td>10,040,121,830</td>
                <td>10,040,121,830</td>
                <td>Thu Apr 18 01:00</td>       
            </tr>
                    <th>AVERAGE:</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
             


          </tbody>
      </table>
      <img src="static/Graph.png" style="height:100%;width:100%">
     
    </form>
                    </form>
                </div>

            </div>
          </div>
           {% endblock %}