{% extends "base.html" %}

        {% block content %}
        <div class="clr-col-lg-11">

            <div class="card">
                <div class="card-header">
                    <strong>Replication Graphs</strong>
                </div>
                <div class="card-block">
                             
                
                   <p>Below you will see information about the replication contexts found in the selected autosupport files.</p>  
                   
                    <form class="clr-form" action="third_step.html">
                      
          
          
          
          
              {% for lista_actual in info_of_contexts_in_asups %}
              <h2>Replication Context {{lista_actual.1.1}}</h2>
              <table class="table table-compact">

              <thead>
                  <tr>
                      <th>Asup Date</th>
                      <th>Ctx Number</th>
                      <th>Precomp written in KBi (last 24 h)</th>
                      <th>Precomp remaining in KBi</th>
                      <th colspan="2">REPLICATED</th>
                      <th>Low bw opt</th>
                      <th>Sync as of time</th>
                  </tr>
                  
                  <tr>
    
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Pre-comp</th>
                        <th>Network</th>
                        <th></th>
                        <th></th>
                    </tr>
              </thead>
              <tbody>        
              
                {% for value in lista_actual%} 
              <tr>
                
                    {% for column in value %}
                    <td>{{ column }}</td>
                    {% endfor %}  <!-- In this bucle we print all the columns of repl ctx-->
              </tr>
              
              {% endfor %} <!--Here it finish info about one replication context-->
             
                    <th>AVERAGE:</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tbody>
                </table>
                <img src="static/Graph.png" style="height:100%;width:100%">
                <br>
              {% endfor %}
                    

         
     
     
    </form>
                    </form>
                </div>

            </div>
          </div>
           {% endblock %}